$background-primary-2: rgb(38, 49, 76);
$background-primary: rgb(109, 125, 162);
$background-secondary: rgb(217, 221, 229);
$background-tertiary: rgb(33, 36, 43);
$background-tertiary-2: darkcyan;
$background-quarternary: rgb(9, 26, 66);
$text-primary: rgb(255, 255, 255);
$text-secondary: rgb(180, 230, 254);
